<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jin.photopicker">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:allowBackup="true">
        <activity
            android:name="com.jin.photopicker.ui.PhotoSelectorActivity"
            android:label="图片选择"></activity>
        <activity
            android:name="com.jin.photopicker.ui.SinglePhotoSelectorActivity"
            android:label="图片选择"></activity>
        <activity
            android:name="com.jin.photopicker.ui.PhotoPreviewActivity"
            android:label="图片预览"></activity>
        <activity android:name="com.jin.photopicker.crop.CropImageActivity" />
    </application>

</manifest>
